<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Basement AI</h2>
                <hr class="light">
                <p class="text-faded">Basement AI is a private AI research lab and
                  consultancy focusing on helping organisations to identify and unlock the value of their data through artificial intelligence.
                  We conduct research on natural language understanding and support both commercial and public sector organizations with their data,
                  AI and natural language processing related initiatives.
                  Our expertise and experience ranges from strategy definition to hands-on development of
                  state-of-the-art machine learning and NLP systems.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                  <p><img src="img/aarne.png" align="middle"></p>
                  <h3>Aarne Talman, Founder & CEO</h3>
                  <p><a href="https://linkedin.com/in/talman"><i class="fa fa-linkedin"></i></a>&nbsp;
                  <a href="https://twitter.com/aarnetalman"><i class="fa fa-twitter"></i></a>&nbsp;
                  <a href="https://github.com/aarnetalman"><i class="fa fa-github"></i></a></p>
                  <p class="text-faded">Aarne has over 13 years of experience in artificial intelligence. His experience
                  ranges from software development to strategy consulting. Prior to founding Basement AI,
                  Aarne has, for example, led the Search Platform team at Nokia, worked as a
                  Technology Strategy consultant at Accenture Strategy and led the Analytics consulting
                  practice in the Nordic region at Gartner. In addition
                  to his extensive career in the industry, Aarne is also a researcher and a PhD student in
                  Natural Language Processing at University of Helsinki. His research focuses on natural language
                  understanding and deep learning. </p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Contact us!</a>
            </div>
        </div>
    </div>
</section>
