<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Basement AI</h2>
                <hr class="light">
                <p class="text-faded">Basement is a private AI research lab and
                  consultancy focusing on helping organisations to identify and unlock the value of their data through artificial intelligence.
                  We conduct research on natural language understanding and support both commercial and public sector organizations with their data,
                  AI and natural language processing related initiatives.
                  Our expertise and experience ranges from strategy definition to hands-on development of
                  state-of-the-art machine learning and NLP systems.</p>
                  <hr class="light">
                  <p><img src="img/aarne.png" align="middle"></p>
                  <h3>Aarne Talman</h3>
                  <h4>Founder</h4>
                  <p><a href="http://talman.fi"><i class="fa fa-globe"></i></a>&nbsp;
                  <a href="https://twitter.com/aarnetalman"><i class="fa fa-twitter"></i></a>&nbsp;
                  <a href="https://github.com/aarnetalman"><i class="fa fa-github"></i></a>&nbsp;
                  <a href="https://linkedin.com/in/talman"><i class="fa fa-linkedin"></i></a></p>
                  <p class="text-faded">Aarne has over 13 years of experience in AI, ranging from
                  academic research to strategy consulting. Prior to founding Basement,
                  Aarne led the Analytics consulting practice in the Nordic region at Gartner. He holds a PhD
                  research position at University of Helsinki Language Technology group.
                    </p>
            </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Contact us!</a>
      </div>
        </div>
    </div>
</section>
