<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Basement AI</h2>
                <hr class="light">
                <p class="text-faded">Basement AI is a private AI research lab and
                  consultancy focusing on helping organisations to identify and unlock the value of their data through artificial intelligence.
                  We conduct research on natural language understanding and support both commercial and public sector organizations with their data,
                  AI and natural language processing related initiatives.
                  Our expertise and experience ranges from strategy definition to hands-on development of
                  state-of-the-art machine learning and NLP systems.</p>
            </div>
           <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">People</h2>
                <hr class="light">
            </div>
            <div class="col-md-4 text-center">
                  <p><img src="img/aarne.png" align="middle"></p>
                  <h3>Aarne Talman</h3>
                  <h4>CEO & Head of Consulting</h4>
                  <p><a href="http://talman.fi"><i class="fa fa-globe"></i></a>&nbsp;
                  <a href="https://twitter.com/aarnetalman"><i class="fa fa-twitter"></i></a>&nbsp;
                  <a href="https://github.com/aarnetalman"><i class="fa fa-github"></i></a></p>
                  <p class="text-faded">Aarne has over 13 years of experience in AI, ranging from
                  academic research to strategy consulting. Prior to founding Basement AI,
                  Aarne led the Analytics consulting practice in the Nordic region at Gartner. He holds a PhD
                  research position at University of Helsinki Language Technology group.
                  Aarne leads Basement AI's consulting business
                  and has the overall responsibility of the management of the company.

                </p>
          </div>
        <div class="col-md-4 text-center">
              <p><img src="img/ale.png" align="middle"></p>
              <h3>Alessandro Raganato</h3>
              <h4>Head of Technology</h4>
               <p><a href="https://raganato.github.io/"><i class="fa fa-globe"></i></a>&nbsp;
              <a href="https://linkedin.com/in/alessandro-raganato-a4b050145"><i class="fa fa-linkedin"></i></a></p>
              <p class="text-faded">Alessandro holds a PhD in Computer Science from Sapienza University of Rome.
              His specialities include natural language processing and machine learning -- in particular computational models
              of natural language meaning. He is also a researcher at
              the language technology research group at University of Helsinki. Alessandro leads the development of new products and services as well as experimentation
          with the latest technologies at Basement AI.</p>
      </div>
      <div class="col-md-4 text-center">
            <p><img src="img/stergios.png" align="middle"></p>
            <h3>Stergios Chatzikyriakidis</h3>
            <h4>Head of Research</h4>
            <p><a href="https://www.stergioschatzikyriakidis.com/"><i class="fa fa-globe"></i></a>&nbsp;
            <a href="https://linkedin.com/in/stergios-chatzikyriakidis-97ab0ab5"><i class="fa fa-linkedin"></i></a></p>
            <p class="text-faded">Stergios holds a PhD in Theoretical Linguistics from King's College London.
              He specializes in computational semantics and has published a textbook and more than 50 academic papers and book chapters on
              the topic. He is also an associate professor and the
              coordinator of CLASP research center at University of Gothenburg. Stergios leads the development and execution of the research agenda of Basement AI.</p>
    </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Contact us!</a>
      </div>
        </div>
    </div>
</section>
