 <footer class="panel-footer">
     <div class="container">
         <div class="row">
             <div class="col-lg-8 col-lg-offset-2 text-left">
                 <img src="img/nvidia.png" height="75px" align="left" style="padding-right:20px">
                 <p class="text-muted"><i>Basement AI is part of the NVIDIA Inception program. Partnering with NVIDIA allows us to
                 build state-of-the-art natural language processing solutions for our customers utilizing the latest technology innovation from NVIDIA.</i></p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>Copyright © 2020 Basement AI</p>
            </div>
        </div>
    </div>
</footer>
