<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bar-chart-o wow bounceIn text-primary"></i>
                    <h3>Strategy</h3>
                    <p class="text-muted">We help your organization to understand and unlock the business value potential
                        of AI and NLP by developing actionable AI and NLP strategies and roadmaps.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-crosshairs wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Use Cases</h3>
                    <p class="text-muted">We help your organization to ideate and prioritize AI and NLP use cases based on
                        their business value potential and your organization's capabilities.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-terminal wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Proof of Concept</h3>
                    <p class="text-muted">We help your organization to develop concrete AI and NLP proof of concepts based on
                        the identified use cases.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gear wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Execution</h3>
                    <p class="text-muted">We support your organization in executing and implementing production-ready
                        AI and NLP solutions.</p>
                </div>
            </div>
        </div>
    </div>
</section>
